# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build
dist/
build/
out/

# TypeScript
*.tsbuildinfo

# System files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
.history/

# Logs
*.log

# Puppeteer cache
.puppeteer/

# Vite
.vite/
grok_logs.csv
src/pdf/pdftemplate.ts
